In [181]:
##grab all of the Kaggle Data

Kaggle_files = ['game.csv',
'game_teams_stats.csv',
'game_scratches.csv',
'game_officials.csv',
'game_skater_stats.csv',
'game_goalie_stats.csv'] 


Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"


import pandas as pd
import numpy as np

In [157]:
df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

In [158]:
## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')

In [159]:
## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')

In [160]:
df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

In [161]:
df_betting = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [162]:


df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()

In [163]:
df_betting.head(2)

   Date    season VH        Team  Open
0   929  20072008  V     Anaheim  -155
1   929  20072008  H  LosAngeles   135

In [189]:
def fix_bet_names(s):
    if s == 'Arizonas':
        return 'Arizona'
    else:
        return s

In [190]:
df_betting['Team'] = df_betting['Team'].map(fix_bet_names)

In [ ]:
print(sorted(list(set(df_mp_teams['playerTeam']))))

In [191]:
print(sorted(list(set(df_betting['Team']))))

['Anaheim', 'Arizona', 'Atlanta', 'Boston', 'Buffalo', 'Calgary', 'Carolina', 'Chicago', 'Colorado', 'Columbus', 'Dallas', 'Detroit', 'Edmonton', 'Florida', 'LosAngeles', 'Minnesota', 'Montreal', 'NYIslanders', 'NYRangers', 'Nashville', 'NewJersey', 'Ottawa', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'SanJose', 'St.Louis', 'Tampa', 'TampaBay', 'Toronto', 'Vancouver', 'Vegas', 'Washington', 'Winnipeg', 'WinnipegJets']

In [ ]:
'NYIslanders', 'NY Islanders' 'NYRangers', 'NY Rangers' 'NewJersey',  'New Jersey',   'SanJose', 'San Jose', 'St.Louis', 'St Louis' 'Tampa', 'Tampa Bay',  'TampaBay', 'Tampa Bay', 'WinnipegJets', 'Winnipeg'

In [202]:
print(sorted(list(df_team_info['shortName'])))

['Anaheim', 'Arizona', 'Atlanta', 'Boston', 'Buffalo', 'Calgary', 'Carolina', 'Chicago', 'Colorado', 'Columbus', 'Dallas', 'Detroit', 'Edmonton', 'Florida', 'Los Angeles', 'Minnesota', 'Montreal', 'NY Islanders', 'NY Rangers', 'Nashville', 'New Jersey', 'Ottawa', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'San Jose', 'St Louis', 'Tampa Bay', 'Toronto', 'Vancouver', 'Vegas', 'Washington', 'Winnipeg']

In [193]:
def fix_mp_names(s):
    if s == 'L.A.':
        return 'LAK'
    elif s == 'S.J.':
        return 'SJS'
    elif s == 'N.J.':
        return 'NJD'
    elif s == 'T.B.':
        return 'TBL'
    else:
        return s

In [201]:
df_team_info.loc[df_team_info['shortName'] == 'Calgary', 'team_id'].array[0]

20

In [194]:
df_team_info

,team_id,franchiseId,shortName,teamName,abbreviation,link
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15

In [185]:
df_team_info.sort_values(by = 'abbreviation', inplace = True)
#df_team_info['mp_name'] = np.array(sorted(list(set(df_mp_teams['playerTeam']))))

In [132]:
##add officials to df_game
##too annoying for now ... different games

data_frames = [

df_mp_teams,
df_betting,

df_game,
df_game_team_stats, 
df_game_goalie_stats,
df_team_info
    
df_game_officials,

df_game_scratches, 
df_game_skater_stats]

In [58]:
##checking the game_id are the same in mp and kaggle (nhl.com)

   team_id  franchiseId   shortName teamName abbreviation             link
5        3           10  NY Rangers  Rangers          NYR  /api/v1/teams/3

In [55]:
df_game.loc[ df_game['game_id']==2008020003, :]

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
10784,2008020003,20082009,R,2008-10-05T16:00:00Z,14,3,1,2,home win REG,right,O2 Czech Republic,/api/v1/venues/null,America/New_York,-5,EST

In [ ]:
df_team_info.loc[df_team_info['team_id'] == 3, :]

In [164]:
df_mp_teams.head(4)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
0,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.0,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0
1,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,31.0,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0
2,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,5on5,...,20.0,19.369,3.0,0.237,0.168,0.168,1.862,1.777,1.665,0
3,NYR,2008,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,4on5,...,9.0,9.000,1.0,0.124,0.000,0.000,0.795,0.795,0.789,0

In [165]:
df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()

In [80]:
df_mp_teams_all['season'].value_counts()

2018    2716
2017    2710
2013    2646
2015    2642
2014    2638
2009    2636
2010    2636
2016    2634
2011    2632
2008    2628
2019    2424
2020    1736
2012    1612
Name: season, dtype: int64

In [166]:
df_mp_teams_all.sort_values(by='gameId', inplace = True) 
df_mp_teams_all.tail(6)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
79711,STL,2020,STL,2020020866,STL,VGK,AWAY,20210508,Team Level,all,...,46.0,46.867,1.0,0.531,0.939,0.939,4.253,4.236,4.197,0
58776,VGK,2020,VGK,2020020866,VGK,STL,HOME,20210508,Team Level,all,...,34.0,33.406,5.0,0.392,0.055,0.055,2.210,2.209,2.200,0
161006,L.A,2020,L.A,2020020867,L.A,COL,HOME,20210508,Team Level,all,...,38.0,40.801,9.0,0.416,0.434,0.434,2.282,2.438,2.396,0
51696,COL,2020,COL,2020020867,COL,L.A,AWAY,20210508,Team Level,all,...,30.0,27.931,7.0,0.311,0.206,0.206,1.582,1.480,1.462,0
95256,ARI,2020,ARI,2020020868,ARI,S.J,AWAY,20210508,Team Level,all,...,57.0,55.333,5.0,0.630,0.885,0.885,3.702,3.572,3.497,0
154206,S.J,2020,S.J,2020020868,S.J,ARI,HOME,20210508,Team Level,all,...,39.0,40.119,6.0,0.420,1.218,1.218,2.349,2.437,2.405,0

In [134]:

df_mp_teams_all['season'].value_counts()

2018    2716
2017    2710
2013    2646
2015    2642
2014    2638
2009    2636
2010    2636
2016    2634
2011    2632
2008    2628
2019    2424
2020    1736
2012    1612
Name: season, dtype: int64

In [137]:
df_mp_teams_all.loc[df_mp_teams_all['season'] == 2020, :].tail(4)
#df_game.sort_values(by='game_id', inplace = True) 
#df_game[(df_game['game_id'].value_counts() == 2) & even_index] #== df_game[(df_game['game_id'].value_counts() == 2) & odd_index]

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
161006,L.A,2020,L.A,2020020867,L.A,COL,HOME,20210508,Team Level,all,...,38.0,40.801,9.0,0.416,0.434,0.434,2.282,2.438,2.396,0
51696,COL,2020,COL,2020020867,COL,L.A,AWAY,20210508,Team Level,all,...,30.0,27.931,7.0,0.311,0.206,0.206,1.582,1.480,1.462,0
95256,ARI,2020,ARI,2020020868,ARI,S.J,AWAY,20210508,Team Level,all,...,57.0,55.333,5.0,0.630,0.885,0.885,3.702,3.572,3.497,0
154206,S.J,2020,S.J,2020020868,S.J,ARI,HOME,20210508,Team Level,all,...,39.0,40.119,6.0,0.420,1.218,1.218,2.349,2.437,2.405,0

In [97]:
#df_game.loc[ df_game['season'] == 20192020, :].head(2).iloc[0,:] == df_game.loc[ df_game['season'] == 20192020, :].head(2).iloc[1,:]

In [100]:
df_game.reset_index(drop = True, inplace = True)

In [144]:
df_game.loc[df_game['season'] == 20192020, :].loc[df_game['game_id'] ==2019020001, : ]# ==df_game.loc[df_game['season'] == 20192020, :].loc[df_game['game_id'] ==2019020002, : ]

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
23880,2019020001,20192020,R,2019-10-02T23:00:00Z,9,10,3,5,home win REG,right,Scotiabank Arena,/api/v1/venues/null,America/Toronto,-5,EST
23881,2019020001,20192020,R,2019-10-02T23:00:00Z,9,10,3,5,home win REG,right,Scotiabank Arena,/api/v1/venues/null,America/Toronto,-5,EST

In [146]:
df_game.drop_duplicates(inplace = True)

In [148]:
df_game.reset_index(inplace = True)

In [149]:
df_game.loc[df_game['season'] == 20192020, :].loc[df_game['game_id'] ==2019020001, : ]

,index,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
22520,23880,2019020001,20192020,R,2019-10-02T23:00:00Z,9,10,3,5,home win REG,right,Scotiabank Arena,/api/v1/venues/null,America/Toronto,-5,EST

In [150]:
df_game.head(4)

,index,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,0,2000020001,20002001,R,2000-10-04T23:00:00Z,21,25,2,2,tbc win OT,right,Reunion Arena,/api/v1/venues/null,America/Chicago,-5,CDT
1,1,2000020002,20002001,R,2000-10-05T23:00:00Z,9,6,4,4,tbc win OT,left,FleetCenter,/api/v1/venues/null,America/New_York,-4,EDT
2,2,2000020003,20002001,R,2000-10-05T23:00:00Z,16,7,2,4,home win REG,left,HSBC Arena,/api/v1/venues/null,America/New_York,-4,EDT
3,3,2000020004,20002001,R,2000-10-05T23:00:00Z,23,4,3,6,home win REG,right,First Union Center,/api/v1/venues/null,America/New_York,-4,EDT

In [147]:
df_game['season'].value_counts()

20172018    1363
20182019    1360
20162017    1323
20132014    1323
20152016    1321
20102011    1319
20142015    1319
20112012    1316
20012002    1230
20002001    1230
20092010    1230
20082009    1230
20072008    1230
20062007    1230
20052006    1230
20032004    1230
20022003    1230
20192020    1215
20122013     806
Name: season, dtype: int64

In [89]:
print(df_game_team_stats.shape,
df_game_team_stats.shape,
df_game_goalie_stats.shape,
df_team_info.shape,
df_game_officials.shape[0]/2)

(52610, 17) (52610, 17) (56656, 19) (33, 6) 52926.5

In [151]:
df_game_team_stats.sort_values(by='game_id', inplace = True) 
df_game_team_stats.reset_index(inplace = True, drop = True)

df_game_team_stats.head(4)

,index,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,36857,2000020001,21,away,False,OT,Bob Hartley,2.0,28.0,NaN,20.0,10.0,1.0,NaN,NaN,NaN,NaN,left
1,36858,2000020001,25,home,False,OT,Ken Hitchcock,2.0,21.0,NaN,22.0,9.0,1.0,NaN,NaN,NaN,NaN,left
2,38303,2000020002,9,away,False,OT,Jacques Martin,4.0,33.0,NaN,20.0,6.0,2.0,NaN,NaN,NaN,NaN,right
3,38304,2000020002,6,home,False,OT,Pat Burns,4.0,38.0,NaN,12.0,10.0,2.0,NaN,NaN,NaN,NaN,right

In [155]:
df_game_goalie_stats.sort_values(by='game_id', inplace = True) 
df_game_goalie_stats.reset_index(inplace = True)
df_game_goalie_stats.head(8)

,index,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,39728,2000020001,8445386,25,3900,0,0,0,28,26,9,0,17,0,18,10,L,92.857143,90.000000,94.444444
1,39727,2000020001,8451033,21,3880,0,0,0,21,19,9,0,10,0,11,10,W,90.476190,90.000000,90.909091
2,41310,2000020002,8455994,6,3900,0,0,0,33,29,3,3,23,3,25,5,W,87.878788,60.000000,92.000000
3,41309,2000020002,8459579,9,3900,0,0,0,38,34,13,2,19,2,21,15,L,89.473684,86.666667,90.476190
4,38959,2000020003,8447687,7,695,0,0,0,4,4,2,0,2,0,2,2,NaN,100.000000,100.000000,100.000000
5,38957,2000020003,8459432,16,3600,0,0,0,30,26,8,1,17,1,21,8,L,86.666667,100.000000,80.952381
6,38958,2000020003,8466156,7,2905,0,0,0,17,15,4,0,11,0,12,5,W,88.235294,80.000000,91.666667
7,39540,2000020004,8462052,4,3591,0,0,0,29,26,3,2,21,4,22,3,W,89.655172,100.000000,95.454545

In [153]:
df_game_officials.head(4)

      game_id   official_name official_type
0  2016020045    Dan O'Rourke       Referee
1  2016020045   Trevor Hanson       Referee
2  2016020045  Scott Driscoll      Linesman
3  2016020045  Lonnie Cameron      Linesman

In [ ]:
##experiment on small data sets, see if joins work properly


X_mp = df_mp_teams.iloc[0:20, :].copy()
X_bets = df_betting.iloc[0:20, :].copy()
X_game = df_game.iloc[0:20, :].copy()
X_team = df_game_team_stats.iloc[0:20, :].copy() 
X_goalie = df_game_goalie_stats.iloc[0:20, :].copy()
X_off = df_game_officials.iloc[0:20, :].copy()

In [ ]:

df_mp_teams,
df_betting,

df_game,
df_game_team_stats, 
df_game_goalie_stats,

df_game_officials,

In [ ]:
df_game_officials.head(8)

In [ ]:
df_game_skater_stats.head(4)

df_game_scratches.head(6)