In [106]:
##grab all of the Kaggle Data

Kaggle_files = ['game.csv',
'game_teams_stats.csv',
'game_scratches.csv',
'game_officials.csv',
'game_skater_stats.csv',
'game_goalie_stats.csv'] 


Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"


import pandas as pd
import numpy as np

In [107]:
df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

In [108]:
## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')

In [109]:
## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')

In [110]:
df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

In [111]:
##omit 2007-2008

df_betting = pd.concat([df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

In [130]:
##fix names of teams
fix_dic = {'Arizonas': 'Arizona', 'NYIslanders': 'NY Islanders', 'NYRangers': 'NY Rangers',
           'NewJersey':'New Jersey', 'LosAngeles': 'Los Angeles', 'SanJose': 'San Jose', 'St.Louis': 'St Louis', 
           'Tampa': 'Tampa Bay',  'TampaBay': 'Tampa Bay', 'WinnipegJets': 'Winnipeg'}



def fix_bet_names(s):
    if s in fix_dic.keys():
        return fix_dic[s]
    else:
        return s
  
def fix_mp_names(s):
    if s == 'L.A.':
        return 'LAK'
    elif s == 'S.J.':
        return 'SJS'
    elif s == 'N.J.':
        return 'NJD'
    elif s == 'T.B.':
        return 'TBL'
    else:
        return s

In [132]:
df_betting['Team'] = df_betting['Team'].map(fix_bet_names)

df_mp_teams['playerTeam']  = df_mp_teams['playerTeam'].map(fix_mp_names)  
df_mp_teams['opposingTeam']  = df_mp_teams['opposingTeam'].map(fix_mp_names)

In [115]:
##attach team_id's to betting

def attach_bet_team_id(s):
    return df_team_info.loc[df_team_info['shortName'] == s, 'team_id'].array[0]

In [116]:
#test attach_bet_team_id("Boston")

In [117]:
set(df_betting['Team']) == set(df_team_info['shortName'])

True

In [118]:
df_betting['team_id'] = df_betting['Team'].map(attach_bet_team_id)

In [165]:
df_betting.head(2)

   Date    season VH        Team  Open
0  1004  20082009  V  NY Rangers   100
1  1004  20082009  H   Tampa Bay  -120

In [119]:
#df_mp_teams_all['']
def fix_mp_season(n):
    return int(str(n)+str(n+1))

#test fix_mp_season(2008)

In [120]:
df_mp_teams['season'] = df_mp_teams['season'].map(fix_mp_season)

In [124]:
## restrict data sets
df_game.drop_duplicates(inplace = True)

df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()

df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()

In [135]:

##restrict seasons 
seasons = []
for n in range(2008,2020):
    seasons.append(int(str(n)+str(n+1)))

print(seasons)

##fix df_game date
## fix df_betting date  to be YMD like mp

#df_game.head(2)

[20082009, 20092010, 20102011, 20112012, 20122013, 20132014, 20142015, 20152016, 20162017, 20172018, 20182019, 20192020]

In [168]:
df_mp_teams.head()

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
0,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.0,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0
1,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,31.0,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0
2,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,5on5,...,20.0,19.369,3.0,0.237,0.168,0.168,1.862,1.777,1.665,0
3,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,4on5,...,9.0,9.000,1.0,0.124,0.000,0.000,0.795,0.795,0.789,0
4,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,5on4,...,1.0,1.000,1.0,0.019,0.000,0.000,0.224,0.224,0.224,0

In [169]:
df_game_team_stats.head(4)

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right

In [143]:
##restrict seasons: #betting is done already

df_game = df_game.loc[df_game['season'].isin(seasons), :].copy()
df_mp_teams = df_mp_teams.loc[df_mp_teams['season'].isin(seasons), :].copy()

In [147]:
## do mp style date for df_games

df_game['date_time_GMT'] = pd.to_datetime(df_game['date_time_GMT'])

In [151]:
df_game['month'] = df_game['date_time_GMT'].apply(lambda x : x.month)

df_game['day'] = df_game['date_time_GMT'].apply(lambda x : x.day)

df_game['year'] = df_game['date_time_GMT'].apply(lambda x : x.year)

In [159]:
def day_to_string(n):
    s = str(n)
    if len(s) ==1:
        return "0"+s
    else:
        return s

In [ ]:
df_game['day_string'] = df_game['day'].apply(day_to_string)

df_game['month_string']  = df_game['month'].apply(lambda x: str(x))

df_game['bet_date'] = df_game['month_string']+df_game['day_string']

In [164]:
df_betting.dtypes

Date       int64
season     int64
VH        object
Team      object
Open       int64
dtype: object

In [ ]:
(df_game['bet_date'] == '917')&(df_game[''] == '917')

In [166]:
df_game.head(2)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,...,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,month,day,year,day_string,month_string,bet_date
0,2016020045,20162017,R,2016-10-19 00:30:00+00:00,4,16,4,7,home win REG,right,...,/api/v1/venues/null,America/Chicago,-5,CDT,10,19,2016,19,10,1019
1,2017020812,20172018,R,2018-02-07 00:00:00+00:00,24,7,4,3,away win OT,left,...,/api/v1/venues/null,America/New_York,-4,EDT,2,7,2018,07,2,207

In [157]:
def find_home_game_id(bet_date, season,home_team):

2404    913
2405    913
2406    914
2407    914
2408    915
2409    915
2410    917
2411    917
2412    919
2413    919
2414    921
2415    921
2416    923
2417    923
2418    925
2419    925
2420    926
2421    926
2422    928
2423    928
Name: Date, dtype: int64

In [127]:
df_mp_teams.head(2)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
0,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.0,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0
1,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,31.0,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0

In [167]:
df_betting.head(2)

   Date    season VH        Team  Open
0  1004  20082009  V  NY Rangers   100
1  1004  20082009  H   Tampa Bay  -120

In [79]:
## select common years: 20082009 to 20192020

X_off.head(2)

      game_id  official_name official_type
0  2016020045   Dan O'Rourke       Referee
1  2016020045  Trevor Hanson       Referee

In [100]:
## try some joins ... first on small test data sets

X_mp = df_mp_teams.iloc[0:20, :].copy()
X_bets = df_betting.iloc[0:20, :].copy()
X_game = df_game.iloc[0:20, :].copy()
X_team = df_game_team_stats.iloc[0:20, :].copy() 
X_goalie = df_game_goalie_stats.iloc[0:20, :].copy()
X_off = df_game_officials.iloc[0:20, :].copy()

In [91]:
X_game.head(2)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT

In [101]:
X_game2 = pd.concat([X_game,X_game])

In [104]:
sort_index(X_game2).head(6)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
1,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
2,2015020346,20152016,R,2015-11-29T00:00:00Z,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
3,2015020346,20152016,R,2015-11-29T00:00:00Z,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
4,2015020606,20152016,R,2016-01-08T03:30:00Z,10,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
5,2015020606,20152016,R,2016-01-08T03:30:00Z,10,26,1,2,home win REG,right,STAPLES Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [97]:
#X_game2 = sort_index(X_game2)
X_game2.sort_values(by='game_id', inplace = True) 
X_game2.reset_index(drop = True, inplace = True)

In [98]:
X_game2.head(4)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
1,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
2,2015020346,20152016,R,2015-11-29T00:00:00Z,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
3,2015020346,20152016,R,2015-11-29T00:00:00Z,22,5,3,2,away win OT,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT

In [99]:
##sort by game_id and reset index
def sort_index(X):
    X.sort_values(by='game_id', inplace =True) 
    X.reset_index(drop = True, inplace = True)
    return X

In [105]:
for X in [ X_mp,X_bets,X_game, X_team, X_goalie, X_off]:
    X = sort_index(X)

KeyError: 'game_id'

In [ ]:
##assign game_id to X_bets