In [14]:
##from the vscode file... data_fix_season_cut_down ... 

import pandas as pd
import numpy as np


##import all the files 

##file paths

Kaggle_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Kaggle_Data_Ellis/"
mp_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Money_Puck_Data/"
betting_path = "/Users/joejohns/data_bootcamp/Final_Project_NHL_prediction/Data/Betting_Data/"

##Kaggle files

df_game = pd.read_csv(Kaggle_path+'game.csv')
df_game_team_stats = pd.read_csv(Kaggle_path+'game_teams_stats.csv')
df_game_skater_stats = pd.read_csv(Kaggle_path+'game_skater_stats.csv')
df_game_goalie_stats = pd.read_csv(Kaggle_path+'game_goalie_stats.csv')

##more subtle Kaggle features:
df_game_scratches = pd.read_csv(Kaggle_path+'game_scratches.csv')
df_game_officials = pd.read_csv(Kaggle_path+'game_officials.csv')
df_team_info = pd.read_csv(Kaggle_path+'team_info.csv')

## grab all the moneypuck data 

df_mp_teams = pd.read_csv(mp_path+'all_teams.csv')


## grab all betting data 
df1 = pd.read_excel(io = betting_path+'nhl odds 2007-08.xlsx')
df2 = pd.read_excel(io = betting_path+'nhl odds 2008-09.xlsx')
df3 = pd.read_excel(io = betting_path+'nhl odds 2009-10.xlsx')
df4 = pd.read_excel(io = betting_path+'nhl odds 2010-11.xlsx')
df5 = pd.read_excel(io = betting_path+'nhl odds 2011-12.xlsx')
df6 = pd.read_excel(io = betting_path+'nhl odds 2012-13.xlsx')
df7 = pd.read_excel(io = betting_path+'nhl odds 2013-14.xlsx')
df8 = pd.read_excel(io = betting_path+'nhl odds 2014-15.xlsx')
df9 = pd.read_excel(io = betting_path+'nhl odds 2015-16.xlsx')
df10 = pd.read_excel(io = betting_path+'nhl odds 2016-17.xlsx')
df11 = pd.read_excel(io = betting_path+'nhl odds 2017-18.xlsx')
df12 = pd.read_excel(io = betting_path+'nhl odds 2018-19.xlsx')
df13 = pd.read_excel(io = betting_path+'nhl odds 2019-20.xlsx')




df1['season'] = 20072008
df2['season'] = 20082009
df3['season'] = 20092010
df4['season'] = 20102011
df5['season'] = 20112012
df6['season'] = 20122013
df7['season'] = 20132014
df8['season'] = 20142015
df9['season'] = 20152016
df10['season'] = 20162017
df11['season'] = 20172018
df12['season'] = 20182019
df13['season'] = 20192020

df_betting = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13])

##### restrict data sets 
## restrict data sets 
df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()
df_mp_teams.rename(columns={"teamId": "team_id"}, inplace = True)

df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()

##### restrict data sets 


df_betting = df_betting.loc[:, ['Date', 'season','VH', 'Team', 'Open']].copy()
df_mp_teams_all = df_mp_teams.loc[df_mp_teams['situation'] == 'all', :].copy()

##drop duplicates and one column had some NaN;
##note there are more nan values in df_game_skaters/team/goalies but I think df_mp gets those.

df_game.drop_duplicates(inplace = True)
df_game.drop(columns = ['home_rink_side_start'], inplace = True)

## fix seasons in df_mp (other 2 already have 20082009 format)


def fix_mp_season(n):
    return int(str(n)+str(n+1))

#test 
#fix_mp_season(2010)
df_mp_teams['season'] = df_mp_teams['season'].map(fix_mp_season)
df_mp_teams_all['season'] = df_mp_teams_all['season'].map(fix_mp_season)


##restrict seasons; 20082009 to 20192020 is the range common to all 3 df's
seasons = []
for n in range(2008,2020):
    seasons.append(int(str(n)+str(n+1)))

#check seasons look ok
print(seasons)

#restrict seasons:

##note: In notebook I checked that value counts of the seasons did not change after this
#restriction


df_betting = df_betting.loc[df_game['season'].isin(seasons), :].copy()
df_game = df_game.loc[df_game['season'].isin(seasons), :].copy()
df_mp_teams = df_mp_teams.loc[df_mp_teams['season'].isin(seasons), :].copy()
df_mp_teams_all = df_mp_teams_all.loc[df_mp_teams_all['season'].isin(seasons), :].copy()

##here is a count of how many games in each df ... approx the same ... so looks likely there 
##should be close to full overlap in game_id's


## the index is no longer consecutive so we reset:

df_betting.reset_index(drop = True, inplace = True)
df_game.reset_index(drop = True, inplace = True)
df_mp_teams.reset_index(drop = True, inplace = True)
df_mp_teams_all.reset_index(drop = True, inplace = True)

for seas in seasons:
    print(seas, len(df_mp_teams_all.loc[df_mp_teams['season']==seas])/2, len(df_game.loc[df_game['season']==seas]), len(df_betting.loc[df_betting['season']==seas])/2)

[20082009, 20092010, 20102011, 20112012, 20122013, 20132014, 20142015, 20152016, 20162017, 20172018, 20182019, 20192020]
20082009 1322.5 1230 1317.0
20092010 1317.5 1230 1318.0
20102011 1287.5 1319 1319.0
20112012 1402.0 1316 1315.0
20122013 787.5 806 806.0
20132014 1357.5 1323 1323.0
20142015 1300.0 1319 1319.0
20152016 1350.0 1321 1321.0
20162017 1355.0 1323 1317.0
20172018 1317.5 1363 1355.0
20182019 1287.5 1360 1358.0
20192020 1192.5 1215 1212.0

In [15]:
## check that df_mp and df_game have similar games ...

In [16]:
## restrict later when we do joins ...

##ok we want to assign game_id to df_mp ... this is the key step, then we can merge all dfs on game_id
##to get game_id, we need to know team, date ... so we need to fix those two things.
## start with date for df_game and df_mp ... that is easier

In [17]:
##fix team names

df_game.head(3)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT

In [18]:
df_mp_teams.head(3)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,unblockedShotAttemptsAgainst,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame
0,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.0,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0
1,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,31.0,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0
2,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,5on5,...,20.0,19.369,3.0,0.237,0.168,0.168,1.862,1.777,1.665,0

In [19]:
mp_names = sorted(list(set(df_mp_teams['name'])))

In [20]:
nhl_names = sorted(list(set(df_team_info['abbreviation'])))

In [21]:
X = dict(zip(mp_names, nhl_names))

In [22]:
X

{'ANA': 'ANA',
 'ARI': 'ARI',
 'ATL': 'ATL',
 'BOS': 'BOS',
 'BUF': 'BUF',
 'CAR': 'CAR',
 'CBJ': 'CBJ',
 'CGY': 'CGY',
 'CHI': 'CHI',
 'COL': 'COL',
 'DAL': 'DAL',
 'DET': 'DET',
 'EDM': 'EDM',
 'FLA': 'FLA',
 'L.A': 'LAK',
 'MIN': 'MIN',
 'MTL': 'MTL',
 'N.J': 'NJD',
 'NSH': 'NSH',
 'NYI': 'NYI',
 'NYR': 'NYR',
 'OTT': 'OTT',
 'PHI': 'PHI',
 'PIT': 'PHX',
 'S.J': 'PIT',
 'STL': 'SJS',
 'T.B': 'STL',
 'TOR': 'TBL',
 'VAN': 'TOR',
 'VGK': 'VAN',
 'WPG': 'VGK',
 'WSH': 'WPG'}

In [23]:
mp_to_nhl_dic = {'ANA': 'ANA',
 'ARI': 'ARI',
 'ATL': 'ATL',
 'BOS': 'BOS',
 'BUF': 'BUF',
 'CAR': 'CAR',
 'CBJ': 'CBJ',
 'CGY': 'CGY',
 'CHI': 'CHI',
 'COL': 'COL',
 'DAL': 'DAL',
 'DET': 'DET',
 'EDM': 'EDM',
 'FLA': 'FLA',
 'L.A': 'LAK',
 'MIN': 'MIN',
 'MTL': 'MTL',
 'N.J': 'NJD',
 'NSH': 'NSH',
 'NYI': 'NYI',
 'NYR': 'NYR',
 'OTT': 'OTT',
 'PHI': 'PHI',
 'PIT': 'PIT',
 'S.J': 'SJS',
 'STL': 'STL',
 'T.B': 'TBL',
 'TOR': 'TOR',
 'VAN': 'VAN',
 'VGK': 'VGK',
 'WPG': 'WPG',
 'WSH': 'WSH'}

In [24]:
df_betting.head(2)

   Date    season VH        Team  Open
0   929  20072008  V     Anaheim  -155
1   929  20072008  H  LosAngeles   135

In [25]:
bet_names = sorted(list(set(df_betting['Team'])))
bet_names

['Anaheim',
 'Arizona',
 'Arizonas',
 'Atlanta',
 'Boston',
 'Buffalo',
 'Calgary',
 'Carolina',
 'Chicago',
 'Colorado',
 'Columbus',
 'Dallas',
 'Detroit',
 'Edmonton',
 'Florida',
 'LosAngeles',
 'Minnesota',
 'Montreal',
 'NYIslanders',
 'NYRangers',
 'Nashville',
 'NewJersey',
 'Ottawa',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'SanJose',
 'St.Louis',
 'Tampa',
 'TampaBay',
 'Toronto',
 'Vancouver',
 'Vegas',
 'Washington',
 'Winnipeg',
 'WinnipegJets']

In [26]:
nhl_names = sorted(list(set(df_team_info['abbreviation'])))
nhl_names

['ANA',
 'ARI',
 'ATL',
 'BOS',
 'BUF',
 'CAR',
 'CBJ',
 'CGY',
 'CHI',
 'COL',
 'DAL',
 'DET',
 'EDM',
 'FLA',
 'LAK',
 'MIN',
 'MTL',
 'NJD',
 'NSH',
 'NYI',
 'NYR',
 'OTT',
 'PHI',
 'PHX',
 'PIT',
 'SJS',
 'STL',
 'TBL',
 'TOR',
 'VAN',
 'VGK',
 'WPG',
 'WSH']

In [27]:
Y = dict(zip(bet_names, nhl_names2))
len(Y)

Y

{'Anaheim': 'ANA',
 'Arizona': 'ARI',
 'Arizonas': 'ARI',
 'Atlanta': 'ATL',
 'Boston': 'BOS',
 'Buffalo': 'BUF',
 'Calgary': 'CAR',
 'Carolina': 'CBJ',
 'Chicago': 'CGY',
 'Colorado': 'CHI',
 'Columbus': 'COL',
 'Dallas': 'DAL',
 'Detroit': 'DET',
 'Edmonton': 'EDM',
 'Florida': 'FLA',
 'LosAngeles': 'LAK',
 'Minnesota': 'MIN',
 'Montreal': 'MTL',
 'NYIslanders': 'NJD',
 'NYRangers': 'NSH',
 'Nashville': 'NYI',
 'NewJersey': 'NYR',
 'Ottawa': 'OTT',
 'Philadelphia': 'PHI',
 'Phoenix': 'PHX',
 'Pittsburgh': 'PIT',
 'SanJose': 'SJS',
 'St.Louis': 'STL',
 'Tampa': 'TBL',
 'TampaBay': 'TBL',
 'Toronto': 'TOR',
 'Vancouver': 'VAN',
 'Vegas': 'VGK',
 'Washington': 'WPG',
 'Winnipeg': 'WPG',
 'WinnipegJets': 'WSH'}

In [28]:
nhl_names2 = ['ANA',
 'ARI',
 'ARI',
 'ATL',
 'BOS',
 'BUF',
 'CAR',
 'CBJ',
 'CGY',
 'CHI',
 'COL',
 'DAL',
 'DET',
 'EDM',
 'FLA',
 'LAK',
 'MIN',
 'MTL',
 'NJD',
 'NSH',
 'NYI',
 'NYR',
 'OTT',
 'PHI',
 'PHX',
 'PIT',
 'SJS',
 'STL',
 'TBL',
 'TBL',             
 'TOR',
 'VAN',
 'VGK',
 'WPG',
 'WPG',
 'WSH']

In [29]:
bet_to_nhl_dic = {'Anaheim': 'ANA',
 'Arizona': 'ARI',
 'Arizonas': 'ARI',
 'Atlanta': 'ATL',
 'Boston': 'BOS',
 'Buffalo': 'BUF',
 'Calgary': 'CGY',
 'Carolina': 'CAR',
 'Chicago': 'CHI',
 'Colorado': 'COL',
 'Columbus': 'CBJ',
 'Dallas': 'DAL',
 'Detroit': 'DET',
 'Edmonton': 'EDM',
 'Florida': 'FLA',
 'LosAngeles': 'LAK',
 'Minnesota': 'MIN',
 'Montreal': 'MTL',
 'NYIslanders': 'NYI',
 'NYRangers': 'NYR',
 'Nashville': 'NSH',
 'NewJersey': 'NJD',
 'Ottawa': 'OTT',
 'Philadelphia': 'PHI',
 'Phoenix': 'PHX',
 'Pittsburgh': 'PIT',
 'SanJose': 'SJS',
 'St.Louis': 'STL',
 'Tampa': 'TBL',
 'TampaBay': 'TBL',
 'Toronto': 'TOR',
 'Vancouver': 'VAN',
 'Vegas': 'VGK',
 'Washington': 'WSH',
 'Winnipeg': 'WPG',
 'WinnipegJets': 'WPG'}

In [30]:
print(bet_to_nhl_dic.values())

dict_values(['ANA', 'ARI', 'ARI', 'ATL', 'BOS', 'BUF', 'CGY', 'CAR', 'CHI', 'COL', 'CBJ', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL', 'NYI', 'NYR', 'NSH', 'NJD', 'OTT', 'PHI', 'PHX', 'PIT', 'SJS', 'STL', 'TBL', 'TBL', 'TOR', 'VAN', 'VGK', 'WSH', 'WPG', 'WPG'])

In [31]:
print(nhl_names2)

['ANA', 'ARI', 'ARI', 'ATL', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL', 'NJD', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PHX', 'PIT', 'SJS', 'STL', 'TBL', 'TBL', 'TOR', 'VAN', 'VGK', 'WPG', 'WPG', 'WSH']

In [32]:
set(bet_to_nhl_dic.values()) == set(nhl_names2)

True

In [70]:
df_team_info

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

In [73]:
 
                          
df_game_to_nhl_dic = df_team_info.set_index('team_id').to_dict()['abbreviation']
                   
df_game_to_nhl_dic

{1: 'NJD',
 4: 'PHI',
 26: 'LAK',
 14: 'TBL',
 6: 'BOS',
 3: 'NYR',
 5: 'PIT',
 17: 'DET',
 28: 'SJS',
 18: 'NSH',
 23: 'VAN',
 16: 'CHI',
 9: 'OTT',
 8: 'MTL',
 30: 'MIN',
 15: 'WSH',
 19: 'STL',
 24: 'ANA',
 27: 'PHX',
 2: 'NYI',
 10: 'TOR',
 13: 'FLA',
 7: 'BUF',
 20: 'CGY',
 21: 'COL',
 25: 'DAL',
 29: 'CBJ',
 52: 'WPG',
 22: 'EDM',
 54: 'VGK',
 12: 'CAR',
 53: 'ARI',
 11: 'ATL'}

In [72]:
def bet_to_nhl(Team):
    return bet_to_nhl_dic[Team]

def mp_to_nhl(team):
    return mp_to_nhl_dic[team]

def game_to_nhl(team_id):
    return game_to_nhl_dic[team_id]

In [34]:
df_team_info.loc[df_team_info['team_id'] == 11, 'abbreviation'].values[0]

'ATL'

In [35]:
##need to drop team_id 87,88,89,90 from df_game

df_game = df_game[~df_game['away_team_id'].isin([87,88,89,90])].copy()
df_game = df_game[~df_game['home_team_id'].isin([87,88,89,90])].copy()
df_betting = df_betting[~(df_betting['VH'] == 'N')].copy()

In [40]:
df_betting['nhl_name'] = df_betting['Team'].apply(bet_to_nhl)

df_game['away_team'] = df_game['away_team_id'].apply(game_to_nhl)

df_game['home_team'] = df_game['home_team_id'].apply(game_to_nhl)

df_mp_teams['nhl_name'] = df_mp_teams['name'].apply(mp_to_nhl)

df_mp_teams_all['nhl_name'] = df_mp_teams_all['name'].apply(mp_to_nhl)

In [41]:
print(bet_to_nhl_dic.values())

dict_values(['ANA', 'ARI', 'ARI', 'ATL', 'BOS', 'BUF', 'CGY', 'CAR', 'CHI', 'COL', 'CBJ', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL', 'NYI', 'NYR', 'NSH', 'NJD', 'OTT', 'PHI', 'PHX', 'PIT', 'SJS', 'STL', 'TBL', 'TBL', 'TOR', 'VAN', 'VGK', 'WSH', 'WPG', 'WPG'])

In [42]:
print(nhl_names2)

['ANA', 'ARI', 'ARI', 'ATL', 'BOS', 'BUF', 'CAR', 'CBJ', 'CGY', 'CHI', 'COL', 'DAL', 'DET', 'EDM', 'FLA', 'LAK', 'MIN', 'MTL', 'NJD', 'NSH', 'NYI', 'NYR', 'OTT', 'PHI', 'PHX', 'PIT', 'SJS', 'STL', 'TBL', 'TBL', 'TOR', 'VAN', 'VGK', 'WPG', 'WPG', 'WSH']

In [43]:
#df_game['home_team'] = df_game['home_team_id'].apply(game_to_nhl)

In [44]:
df_game.loc[df_game['away_team_id'] == 87, :]

Empty DataFrame
Columns: [game_id, season, type, date_time_GMT, away_team_id, home_team_id, away_goals, home_goals, outcome, venue, venue_link, venue_time_zone_id, venue_time_zone_offset, venue_time_zone_tz, away_team, home_team]
Index: []

In [45]:
df_game['away_team_id'].value_counts()

15    525
6     525
5     524
14    523
28    520
3     520
16    519
19    516
18    515
26    512
24    501
25    500
8     497
4     496
2     496
23    495
17    495
30    493
9     491
21    490
29    488
10    488
20    487
1     485
12    481
22    480
13    476
7     472
52    361
53    247
27    238
54    141
11    123
Name: away_team_id, dtype: int64

In [46]:
df_team_info.loc[:, ['team_id', 'abbreviation']].sort_values(by = 'team_id')

    team_id abbreviation
0         1          NJD
19        2          NYI
5         3          NYR
1         4          PHI
6         5          PIT
4         6          BOS
22        7          BUF
13        8          MTL
12        9          OTT
20       10          TOR
32       11          ATL
30       12          CAR
21       13          FLA
3        14          TBL
15       15          WSH
11       16          CHI
7        17          DET
9        18          NSH
16       19          STL
23       20          CGY
24       21          COL
28       22          EDM
10       23          VAN
17       24          ANA
25       25          DAL
2        26          LAK
18       27          PHX
8        28          SJS
26       29          CBJ
14       30          MIN
27       52          WPG
31       53          ARI
29       54          VGK

In [47]:
df_mp_teams.head(2)

,team,season,name,gameId,playerTeam,opposingTeam,home_or_away,gameDate,position,situation,...,scoreAdjustedUnblockedShotAttemptsAgainst,dZoneGiveawaysAgainst,xGoalsFromxReboundsOfShotsAgainst,xGoalsFromActualReboundsOfShotsAgainst,reboundxGoalsAgainst,totalShotCreditAgainst,scoreAdjustedTotalShotCreditAgainst,scoreFlurryAdjustedTotalShotCreditAgainst,playoffGame,nhl_name
0,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,other,...,1.000,0.0,0.017,0.000,0.000,0.037,0.037,0.037,0,NYR
1,NYR,20082009,NYR,2008020001,NYR,T.B,AWAY,20081004,Team Level,all,...,30.369,5.0,0.396,0.168,0.168,2.917,2.833,2.714,0,NYR

In [48]:
df_mp_teams_all['name'].value_counts()

PIT    1088
BOS    1081
CHI    1075
WSH    1066
S.J    1060
T.B    1049
NYR    1046
STL    1036
NSH    1030
L.A    1023
PHI    1023
ANA    1022
DET    1020
MTL    1019
VAN    1014
DAL     996
NYI     990
OTT     987
MIN     985
COL     984
CBJ     979
N.J     978
CAR     976
ARI     973
CGY     973
TOR     969
EDM     956
FLA     954
BUF     950
WPG     724
VGK     282
ATL     246
Name: name, dtype: int64

In [49]:
df_mp_teams_all.sort_values(by = 'gameDate').reset_index().loc[20000:20020, ['name','nhl_name']]

      name nhl_name
20000  S.J      SJS
20001  DAL      DAL
20002  NYI      NYI
20003  STL      STL
20004  NSH      NSH
20005  T.B      TBL
20006  WSH      WSH
20007  PIT      PIT
20008  NSH      NSH
20009  STL      STL
20010  S.J      SJS
20011  DAL      DAL
20012  NYI      NYI
20013  T.B      TBL
20014  DAL      DAL
20015  WSH      WSH
20016  S.J      SJS
20017  PIT      PIT
20018  STL      STL
20019  NSH      NSH
20020  NYI      NYI

In [50]:
df_game.loc[9000:9020, ['away_team_id', 'away_team', 'home_team_id', 'home_team'   ]]

      away_team_id away_team  home_team_id home_team
9000            27       PHX            22       EDM
9001            52       WPG            12       CAR
9002            24       ANA            22       EDM
9003            17       DET            20       CGY
9004            19       STL            27       PHX
9005            17       DET            26       LAK
9006            22       EDM            25       DAL
9007             1       NJD            25       DAL
9008            23       VAN            26       LAK
9009             1       NJD             6       BOS
9010            28       SJS             4       PHI
9011            24       ANA            26       LAK
9012             3       NYR            12       CAR
9013            20       CGY            25       DAL
9014            27       PHX            25       DAL
9015            20       CGY             6       BOS
9016            52       WPG            13       FLA
9017            13       FLA             7       BUF
9018            17       DET            21       COL
9019            29       CBJ            27       PHX
9020            29       CBJ            27       PHX

In [51]:
df_game.iloc[9019:9021, :]

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,away_team,home_team
9019,2010021109,20102011,R,2011-03-25T02:00:00Z,29,27,0,3,home win REG,Jobing.com Arena,/api/v1/venues/null,America/Phoenix,-7,MST,CBJ,PHX
9020,2011020969,20112012,R,2012-03-04T01:00:00Z,29,27,5,2,away win REG,Jobing.com Arena,/api/v1/venues/null,America/Phoenix,-7,MST,CBJ,PHX

In [52]:
df_betting.head(2)

   Date    season VH        Team  Open nhl_name
0   929  20072008  V     Anaheim  -155      ANA
1   929  20072008  H  LosAngeles   135      LAK

In [53]:
df_betting.loc[30000:30020, ['VH','Team', 'nhl_name']]

      VH          Team nhl_name
30000  V     Minnesota      MIN
30001  H      Winnipeg      WPG
30002  V       Florida      FLA
30003  H       Arizona      ARI
30004  V        Dallas      DAL
30005  H         Vegas      VGK
30006  V       Calgary      CGY
30007  H     NewJersey      NJD
30008  V      Edmonton      EDM
30009  H       Toronto      TOR
30010  V      TampaBay      TBL
30011  H     NYRangers      NYR
30012  V     Vancouver      VAN
30013  H      Colorado      COL
30014  V       Chicago      CHI
30015  H       Anaheim      ANA
30016  V       Toronto      TOR
30017  H   NYIslanders      NYI
30018  V  Philadelphia      PHI
30019  H      Columbus      CBJ
30020  V      Edmonton      EDM

In [54]:
df_betting['Team'].value_counts()

Pittsburgh      1187
Boston          1159
SanJose         1155
Chicago         1148
Washington      1147
NYRangers       1134
Detroit         1125
Nashville       1114
Anaheim         1110
St.Louis        1109
Philadelphia    1106
LosAngeles      1105
TampaBay        1105
Montreal        1103
Vancouver       1081
Ottawa          1073
Minnesota       1069
Dallas          1069
NewJersey       1063
Colorado        1061
Calgary         1053
Carolina        1051
Columbus        1051
NYIslanders     1050
Toronto         1047
Edmonton        1034
Buffalo         1032
Florida         1032
Winnipeg         719
Phoenix          567
Arizona          479
Atlanta          328
Vegas            262
WinnipegJets       1
Arizonas           1
Name: Team, dtype: int64

In [ ]:
df_betting['nhl_name'].value_counts()

In [55]:

def bet_mp_date(date, season):
    d = str(date)
    s = str(season)
    if len(d) == 3:
        d = "0"+d 
    if (900 < date):
        y= s[:4]
    else:
        y = s[4:]
    return int(y+d)

In [56]:
bet_mp_date(826, 20112012)

20120826

In [57]:
df_betting['mp_date'] = np.vectorize(bet_mp_date)(df_betting['Date'], df_betting['season'])

In [58]:
#the function appends 0 in front of any day or month with one digit to follow mp format

def to_string(n):
    s = str(n)
    if len(s) ==1:
        return "0"+s
    else:
        return s

#takes in date_time date and returns yyyymmdd eg 20080904

def game_add_date(date_time):
    d = date_time.day
    m = date_time.month
    y = date_time.year
    dd = to_string(d)
    mm = to_string(m)
    yyyy = str(y)
    return(int(yyyy+mm+dd))

In [59]:
## do mp style date for df_games

df_game['date_time_GMT'] = pd.to_datetime(df_game['date_time_GMT']) 

test = df_game['date_time_GMT'][105]
test

Timestamp('2018-04-01 16:30:00+0000', tz='UTC')

In [60]:
game_add_date(test)

20180401

In [61]:
df_game['mp_date'] = df_game['date_time_GMT'].apply(game_add_date)

In [62]:
df_game['mp_date']

0        20161019
1        20180207
2        20151124
3        20160217
4        20171230
           ...
15120    20190602
15121    20190604
15122    20190607
15123    20190610
15124    20190613
Name: mp_date, Length: 15120, dtype: int64

In [63]:
df_game.columns

Index(['game_id', 'season', 'type', 'date_time_GMT', 'away_team_id',
       'home_team_id', 'away_goals', 'home_goals', 'outcome', 'venue',
       'venue_link', 'venue_time_zone_id', 'venue_time_zone_offset',
       'venue_time_zone_tz', 'away_team', 'home_team', 'mp_date'],
      dtype='object')

In [64]:
df_betting['VH'].value_counts()
df_betting2 = df_betting[~(df_betting['VH'] == 'N')].copy()

In [65]:
df_betting.head(3)

   Date    season VH        Team  Open nhl_name   mp_date
0   929  20072008  V     Anaheim  -155      ANA  20070929
1   929  20072008  H  LosAngeles   135      LAK  20070929
2   930  20072008  V  LosAngeles   115      LAK  20070930

In [66]:
##moment of truth ... put the game_id's in to df_betting

def assign_game_id(mp_date, nhl_name, VH):##put VH in there! duh
    if VH == 'H':
        h = df_game.loc[(df_game['mp_date'] == mp_date)&(df_game['home_team'] == nhl_name),  :]['game_id'].values
        if len(h) ==1:
            return h[0]
        elif len(h)==0 and mp_date < 2010000:
            return 80
            print(mp_date)
        elif len(h) > 1:
            return 82
    if VH == 'V':
        a = df_game.loc[(df_game['mp_date'] == mp_date)&(df_game['away_team'] == nhl_name),  :]['game_id'].values
        if len(a) ==1:
            return a[0]
        elif len(a)==0:
            return 270
        elif len(a) > 1:
            return 272

In [67]:
df_betting2['game_id'] =  np.vectorize(assign_game_id)(df_betting2['mp_date'], df_betting2['nhl_name'], df_betting2['VH'] )

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [ ]:
#np.vectorize(assign_game_id)(df_betting2['mp_date'], df_betting2['nhl_name'], df_betting2['VH'] )

In [ ]:
(df_betting2['game_id'].value_counts()==1).sum()

In [ ]:
df_betting2[(df_betting2['game_id'] == 80)&~(df_betting2['mp_date'].isin(not_bet_game))].reset_index().iloc[1000:1020, :]

In [ ]:
df_team_info.loc[:,['team_id', 'franchise_id','abbreviation']].sort_values(by = 'team_id')

In [ ]:
df_mp_teams.head(2)

In [ ]:
df_mp_teams_all[df_mp_teams_all['gameDate'] == 20091117]

In [ ]:
df_game

In [ ]:
df_game[df_game['mp_date'] == 20091117]#.loc[:,['date_time_GMT','away_team_id','away_team', 'home_team_id','home_team', 'venue' ]]

In [ ]:
df_betting[df_betting['mp_date'] == 20091117]   #20081015

In [ ]:
not_bet_game = set(df_betting['mp_date']).symmetric_difference(set(df_game['mp_date'])).copy()

In [ ]:

20071005 in set(df_betting['mp_date']).symmetric_difference(set(df_game['mp_date']))

In [82]:
len(set(df_betting['gameId']).symmetric_difference(set(df_game['game_id'])))

KeyError: 'gameId'

In [ ]:
df_game.head()

In [ ]:
df_betting['season'].value_counts()/2

In [ ]:
df_game['season'].value_counts()

In [ ]:
##check if df_game has franchise_id instead of team_id ... check if df_game_team_stats has the correct team_id's
##use df_mp to assign game_id's to df_betting ... check it has good overlap ... then try to find the
##extent of the kaggle problems ... I think I just need the very basics (goals, who won, OT? maybe just OT ...)... so might be not too hard to scrape

In [ ]:
df_info.head(4)

In [76]:
df_team_info

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

In [80]:
df_mp_teams.loc[:, ['nhl_name', 'home_or_away', 'gameDate', 'gameId']]

       nhl_name home_or_away  gameDate      gameId
0           NYR         AWAY  20081004  2008020001
1           NYR         AWAY  20081004  2008020001
2           NYR         AWAY  20081004  2008020001
3           NYR         AWAY  20081004  2008020001
4           NYR         AWAY  20081004  2008020001
...         ...          ...       ...         ...
152765      LAK         HOME  20180417  2017030174
152766      LAK         HOME  20180417  2017030174
152767      LAK         HOME  20180417  2017030174
152768      LAK         HOME  20180417  2017030174
152769      LAK         HOME  20180417  2017030174

[152770 rows x 4 columns]